###################
# Database Config #
###################
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fastapi-boilerplate

########################
# Security & Auth Keys #
########################
# Generate a new secret key:
# Command: openssl rand -hex 16
# or: python -c "import secrets; print(secrets.token_hex(16))"
SECRET_KEY=25cf6f68989156b573c8fb30b3a7f356

#######################
# File Upload Config #
#######################
UPLOAD_TYPE=local # local or s3
UPLOAD_DIR=uploads
# Max upload size in bytes (10MB)
MAX_UPLOAD_SIZE=10485760

##################
# AWS S3 Config #
##################
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=your_bucket_name

###################
# Cookie configuration settings
# COOKIE_DOMAIN: Domain where the cookie is valid (e.g., localhost, .example.com)
# COOKIE_SECURE: If True, cookie only sent over HTTPS
# COOKIE_HTTPONLY: If True, prevents client-side access to cookie
# COOKIE_SAMESITE: Controls how cookie behaves with cross-site requests (lax, strict, none)
###################
COOKIE_DOMAIN=localhost
COOKIE_SECURE=False
COOKIE_HTTPONLY=True
COOKIE_SAMESITE=lax
